{% extends 'base.html' %}
{% block content %}
<div class="split-screen">
    <div class="split-text" style="background: url('{{ item.image }}') center/cover;">
        </div>
    
    <div class="split-form">
        <h2>Reserve</h2>
        <h3>{{ item.name }}</h3>
        <p style="color: var(--color-gold); font-size: 1.5rem; margin-bottom: 2rem;">₹{{ item.price }} / Day</p>
        
        <form>
            <div class="form-group">
                <label>Start Date</label>
                <input type="date">
            </div>
            <div class="form-group">
                <label>End Date</label>
                <input type="date">
            </div>
            <button class="btn-submit">Confirm Dates</button>
        </form>
    </div>
</div>
{% endblock %}
